<!doctype html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
          console.log('Connected to WebSocket server!');
        });
        socket.on('data', function(msg) {
          console.log('Data received:', msg);
          document.getElementById('data').innerHTML = 'Sensor Value: ' + msg.value;
        });
      });
    </script>
  </head>
  <body>
    <h1>ESP8266 Fake Data Display</h1>
    <p id="data">Waiting for data...</p>
  </body>
</html>
